{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="fr" class="h-full bg-gray-100">
    <head>
        <title>{% block title %}OKRE{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    </head>

    <body class="h-full">
        {% block body %}
        {% endblock %}
    </body>
</html>
