{% extends "front/base.html" %}

{% block title %}
    Tableau de bord | OKRE
{% endblock %}

{% block page-title %}
    Tableau de bord
{% endblock %}

{% block content %}
<ul class="list rounded-box shadow-md bg-base-200">
    <li class="p-4 text-2xl font-bold tracking-wide"><h2>Objectifs stratégiques</h2></li>
    {% for objective in organization.objectives.all %}
        <li class="list-row pl-8">{{ objective.title }}</li>
    {% endfor %}
</ul>

<ul class="mt-4 list rounded-box shadow-md bg-base-200">
    <li class="p-4 text-2xl font-bold tracking-wide"><h2>Équipes</h2></li>
    {% for team in organization.teams.all %}
        <li class="list-row pl-8">{{ team.name }}</li>
        <ul class="list pl-10">
            {% for objective in team.objectives.all %}
                <li class="list-row">{{ objective.title }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
{% endblock %}
