{% extends "front/base.html" %}

{% block title %}
    Tableau de bord | OKRE
{% endblock %}

{% block page-title %}
    Tableau de bord
{% endblock %}

{% block content %}
<div class="card bg-base-200 shadow-md">
    <div class="card-body">
        <h2 class="card-title text-2xl tracking-wide">
            Objectifs stratégiques
        </h2>
        <ul class="list">
            {% for objective in organization.objectives.all %}
                {% include "front/partials/objective_row.html" with objective=objective extra_class="pl-8" %}
            {% endfor %}
        </ul>
    </div>
</div>

<div class="card bg-base-200 shadow-md mt-4">
    <div class="card-body">
        <h2 class="card-title text-2xl tracking-wide">
            Équipes
        </h2>
        <ul class="list text-lg">
            {% for team in organization.teams.all %}
                <li class="list-row pl-8">
                    <div>{{ team.name }}</div>
                </li>
                <ul class="list pl-10">
                    {% for objective in team.objectives.all %}
                        {% include "front/partials/objective_row.html" with objective=objective deactivated=True %}
                    {% empty %}
                        <li class="list-row opacity-40">
                            <div class="list-col-grow text-base">Aucun objectif</div>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
