{% extends "front/base.html" %}

{% block title %}
    OKRE | Tableau de bord
{% endblock %}

{% block page-title %}
    Tableau de bord
{% endblock %}

{% block content %}
<nav>
    <div class="nav-title">OKRE</div>
    <div class="nav-organization">
        <span class="nav-organization-name">{{ organization.name }}</span>
    </div>
    <div class="nav-menu"></div>
    <div class="nav-user">
        <span class="nav-user-name">{{ user.get_username }}</span>
    </div>
</nav>

<h1>Tableau de bord</h1>

<h2>Objectifs stratégiques</h2>

<ul>
    {% for objective in organization.objectives.all %}
        <li>{{ objective.title }}</li>
    {% endfor %}
</ul>

<h2>Équipes</h2>
<ul>
    {% for team in organization.teams.all %}
        <li>{{ team.name }}</li>
        <ul>
            {% for objective in team.objectives.all %}
                <li>{{ objective.title }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
{% endblock %}
